# Source files
# ============

*.md            linguist-language=Vue
*.js            linguist-language=Vue
*.json          linguist-language=Vue
*.jsp           linguist-language=Vue
*.jsx           linguist-language=Vue
*.tld           linguist-language=Vue
*.ts            linguist-language=Vue
*.vue           linguist-language=Vue
*.styl          linguist-language=Vue
